body {
	background-color: #3d003d;
	background-image: url(../images/glowing.jpg);
	background-size: cover;
	color: 	#fffff2;
	font-size: 20px;
}
.container {
	background-color: rgba(0,0,0,0.3);
}
p {
	color: #ffe7ff;
}
.targetnumber {
	background-color: rgba(102,0,102,0.8);
	width: 40%;
}
#score, #goalnumber {
	font-size: 175%;
	color: #fffff2; 
}
.scoreboard {
	background-color: rgba(102,0,102,0.8);
	width: 40%;
}
h1 {
	color: #ff5cff;
	margin: auto;
	font-size: 300%;
	font-family: Copperplate, fantasy;
	
}

button {
	width: 100px;
	height: 100px;
	padding: 0;
}

img {
	width: 90px;
	height: 90px;
	margin: 0;
}

